*, *::before, *::after{
	box-sizing: border-box;
}

body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	color: #fff;
}

.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: #313438;
	min-height: 100vh;
}

.hero{
	background: linear-gradient(90deg, rgba(132,15,222,1) 0%, rgba(205,0,255,1) 100%);
	padding: 2em 0;
}

.back-btn{
	font-size: 1.7em;
	padding-left: 1em;
}

.hero-info{
	display: flex;
	flex-flow: column;
	align-items: center;
}

i{
	font-size: 1.5em;
}

.relationship{
	width: 6em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 100px;
	border-top-left-radius: 0;
	background-color: #ba04f6;
	font-size: .8em;
}

a{
	text-decoration: none;
	color: #fff;
}

.contact-info{
	padding: 3em 1.5em;
}

.info-line{
	display: flex;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 2em;
	margin-top: 2em;
	border-radius: 20px;
	box-shadow: inset 20px 20px 60px #2a2c30,
            inset -20px -20px 60px #383c40;
}

p{
	padding-bottom: 2em;
	text-align: center;
}

.icon-gradient{
	background: linear-gradient(90deg, rgba(132,15,222,1) 0%, rgba(205,0,255,1) 100%);
	border-radius: 100px;
	padding: .5em;
}

#location{
	padding: .5em .6em;
}

.button-container{
	padding: 2em 3.5em;
}

.update-contact{
	display: flex;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 2em;
	border-radius: 20px;
	box-shadow:  20px 20px 60px #2a2c30,
            -20px -20px 60px #383c40;
}

.button{
	border: none;
	font-size: 1.3em;
	padding-left: 1.5em;
	outline: none;
	color: #fff;
	background-color: #313438;
}