<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style-profile.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ab15933ea4.js" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Profile Page</title>
</head>
<body>
	<div class=container>
		
		<header class="hero">
			<a href="index.html">
				<i class="fa-sharp fa-solid fa-circle-arrow-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">John Doe</h1>
				<p class="relationship">Family</p>
			</div>
		</header>

		<section class="contact-info">
			
			<div class="info-line">
				<i class="fa-solid fa-phone fa-flip-horizontal icon-gradient"></i>
				<p class="phone-number">123123123</p>
			</div>

			<div class="info-line">
				<i class="fa-solid fa-message text icon-gradient"></i>
				<p class="sms">Send Message</p>
			</div>

			<div class="info-line">
				<i class="fa-solid fa-envelope icon-gradient"></i>
				<p class="email">john@example.com</p>
			</div>

			<div class="info-line">
				<i id="location" class="fa-solid fa-location-dot icon-gradient"></i>
				<p class="address">123 Example St.</p>
			</div>
		</section>

		<a href="edit.html">
			<section class="edit-contact">
				<div class="edit-button">
					<i class="fa-solid fa-gear icon-gradient"></i>
				</div>
			</section>
		</a>
	</div>
</body>
</html>