<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style-edit.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ab15933ea4.js" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit Contact</title>
</head>
<body>

	<div class=container>
		
		<header class="hero">
			<a href="contact-profile.html">
				<i class="fa-sharp fa-solid fa-circle-arrow-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">John Doe</h1>
				<p class="relationship">Family</p>
			</div>
		</header>

		<section class="contact-info">
			
			<div class="info-line">
				<i class="fa-solid fa-phone fa-flip-horizontal icon-gradient"></i>
				<input type="text" class="type" name="fullname" placeholder="Full Name">
			</div>

			<div class="info-line">
				<i class="fa-solid fa-message text icon-gradient"></i>
				<input type="text" class="type" name="relationship" placeholder="Relationship">
			</div>

			<div class="info-line">
				<i class="fa-solid fa-phone fa-flip-horizontal icon-gradient"></i>
				<input type="text" class="type" name="phone" placeholder="Phone Number">
			</div>

			<div class="info-line">
				<i class="fa-solid fa-envelope icon-gradient"></i>
				<input type="text" class="type" name="email" placeholder="Email">
			</div>

			<div class="info-line">
				<i id="location" class="fa-solid fa-location-dot icon-gradient"></i>
				<input type="text" class="type" name="address" placeholder="Address">
			</div>
		</section>
		
		<section class="button-container">
			<a href="#">
				<div class="update-contact">
					<i class="fa-solid fa-circle-check icon-gradient"></i>
					<button class="button">Save Contact</button>
				</div>
			</a>
		</section>

		<section class="button-container">
			<a href="delete.html">
				<div class="update-contact">
					<i class="fa-solid fa-trash icon-gradient"></i>
					<button class="button">Delete Contact</button>
				</div>
			</a>
		</section>


	</div>
</body>
</html>